<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caxs.base.dao.SUsrMapper" >
  <resultMap id="BaseResultMap" type="com.caxs.base.domain.SUsr" >
    <id column="USR_NAME" property="usrName" jdbcType="VARCHAR" />
    <id column="USR_PASSWORD" property="usrPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    USR_NAME,USR_PASSWORD
  </sql>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="String" >
    select
    <include refid="Base_Column_List"/>
    from s_usr
    where USR_NAME = #{usrName,jdbcType=VARCHAR}
  </select>
</mapper>