<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caxs.base.dao.UsrRoleMapper" >
  <resultMap id="BaseResultMap" type="com.caxs.base.domain.UsrRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="usr_lev" property="usr_lev" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getUsrRole" resultMap="BaseResultMap" parameterType="Integer" >
    select usr_lev
    from usr_role
    where id = 1
  </select>
</mapper>